<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="#home" class="active">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div class="form">
        <fieldset>
            <legend>Form add new user</legend>
            <div class="input-group">
                <label for="">Email :</label>
                <input type="text" name="" id="">
            </div>
            <div class="input-group">
                <label for="">Name :</label>
                <input type="text" name="" id="">
            </div>
            <div class="input-group">
                <label for="">City :</label>
                <input type="text" name="" id="">
            </div>
        </fieldset>
    </div>
</body>

</html>